/* trouvable sur google fonts   */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Importer et utiliser */
@font-face {
    font-family: "font-1";
    src: url(./assets/ShadowsIntoLight-Regular.ttf);
}

/* Texte */

/*
* {
    margin: 0
    padding: 0  Utiliser pour enlever tt ce qui est mis par défault
}

*/

body {
    font-family: 'font-1', cursive;
    font-size: 1rem;
    background: url(./assets/background.jpg) center/cover no-repeat fixed; /* permet de la mettre bien au centré */
    /* height: 100vh; = Prend 100% de l'écran */
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem; /* 1rem = 16px */
    color: rgb(173, 255, 251);
    text-shadow: 5px 0 0 rgba(55, 168, 206, 0.2); /* rgba donc dernier arg = opacité */
    text-align: center;
    font-family: 'Lobster', cursive;
}

main {
    background: whitesmoke;
    width: 90%; /* grandeur de la box */
    min-height: 500px; /* hauteur de la box */
    margin: 0 auto; /* haut, droite, bas, gauche // hautbas, droitegauche // ou utiliser magin-direction */
    padding: 15px; /* marge intérieur */
    border-radius: 15px; /* arrondir box */
    box-shadow: 0 2px 12px 5px rgba(15, 12, 12, 0.425);
}

.positioning, /* Liste les classes qui ont ces caractéristiques */
.flexbox,
.grid {
    border: 2px solid skyblue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.positioning {
    position: relative; /* 0 0 de base */
}

h2 {
    margin: 0;
}

#circle {
    height: 60px;
    width: 60px;
    padding: 20px;
    border-radius: 50%;
    background: skyblue;
    position: absolute; /* Le détacher de son parent */
    top: 0;
    right: 110px; 
    z-index: 1; /* Le cercle au dessus du rectangle */
}

#rectangle {
    height: 15px;
    width: 100px;
    background: slateblue;
    padding: 20px;
    position: absolute;
    bottom: 2px;
    left: 50%; /* Centré le premier bout du rectangle */ 
    transform: translate(-50%); /* Centré complétement le rectangle */ 
}

/* Flexbox */

ul {
    display: flex;
    justify-content: space-around; /* Positionnez les box dans le parent */
    padding: 0;
}

li {
    list-style-type: none; /* Enlevez les points dans les listes */
    font-size: 0.7rm;
    height: 160px;
    width: 160px;
    background: turquoise;
    /* Centrer verticalement */
    display: flex;
    align-items: center;
    justify-content: center;
}

    /* Grid */

.img {
    text-align: center; /* Centrer l'image grace au fait de d'avoir englober image dans une classe */
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "i1 i2"
    "ta ta"
    "bt bt";
}

input,
textarea {
    margin: 5px;
    height: 45px;
    border: 1px solid darkblue;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: 'font-1';
}

#firstname {
    grid-area: i1;
}

#surname {
    grid-area: i2;
}

textarea {
    grid-area: ta;
    resize: none;
}

input[type="submit"] {
    grid-area: bt;
    cursor: pointer;
}

/* Responsive */
@media screen and ( max-width: 1000px) {
    .grid-container {
        display: block;
    }
}

@media screen and ( max-width: 780px) {
    form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "i1"
        "i2"
        "ta"
        "bt";
    }
}